### 1. DATA TYPES
- Numeric : integers and floats
- string
- booleans

In [1]:
print("Hey")

Hey

In [2]:
# integer
# print(100)

# float
# print(7.4)

# string
# print("Hello")

# booleans


# check type
print(type(1))

<class 'int'>

### 2. VARIABLES
- Know the rules of naming variables

In [3]:
a = 2
print(a)

2

In [4]:
message = "CiT club webinar"
print(message)

CiT club webinar

###### 2.1 String methods

In [9]:
message = "CiT club wabinar"
# print(len(message))
# print(message[5])
# print(message.upper())
# print(message.count("a"))
print(message.find("club"))
print(message.index("T"))
# print(message.find("students"))
# print(message.replace("club", "Engineering"))
# print(abs())
print(round(3.75, 1))

4
2
3.8

###### 2.2 String concatenation

In [10]:
greeting = 'Hello'
name = 'cit'

message = greeting+ " "  +name

print(message)

Hello cit

###### 2.3 Formatted strings

In [11]:
greeting = 'Hello'
name = 'cit'

print(f'{greeting} {name}')

Hello cit

In [5]:
# print(f'{greeting} {name}')

### OPERATORS
1. ARITHMETIC OPERATORS
- Addition (+)
- Subtraction (-)
- Multiplication (*)
- Division (/)
- Floor Division (//)
- Exponent (**)
- Modulus (%)

2. COMPARISION OPERATORS
- Equal (==)
- Not Equal (!=)
- Greater Than (>)
- Less than (<)
- Greater or Equal (>=)
- Less or equal (<=)
- Object identity (is)

3. MEMBERSHIP OPERATOR 
4. LOGICAL OPERATORS
- and
- or
- not

In [97]:
# arithmetic operators
# a = 2
# b = 3

# c = a % b
# print(c)

2

In [99]:
# comparison operators

a = 3
b = 4

print(a != b)

True

In [8]:
# type casting

### 3. Conditionals and Booleans - If, Else and Elif statements

In [102]:
language = 'C'

if language =='Python':
    print('Language is Python')
elif language == 'Java':
    print('Language is Java')
else:
    print('No match')

No match

In [105]:
# Try different logical operators
user = 'Admin'
logged_in = False

if user == 'Admin' or logged_in:
    print('Admin page')
else:
    print('Bad credentials')

Admin page

In [13]:
# Try membership and object identity
a = [1, 2, 3]
b = [1, 2, 3]

print(a!=b)

# print(1 not in a)

# print(id(a))
# print(id(b))

print(a is b)

False
False

##### What Python evaluates to false:
- False
- None
- Zero of any numeric type
- Any empty sequence i.e ' ', (), [].
- Any empty mapping. For example {}.

In [14]:
condition = ''

if condition:
    
    print('Evaluate to True')
else:
    
    print('Evaluate to False')

Evaluate to False

### 4. LISTS, TUPLES, SETS 
- Lists and tuples works with sequential data
- Lists are mutable
- Tuples are immutable: cant change their values
- sets: unordered collections of values with no duplicates

###### 4.1 List manipulation

### List

In [135]:
courses = ["Python", "Java", "Kotlin", "C", "C++"]
courses_2 = [1, 2, 6, 3, 4]


# list indexing
# courses = ['Python', 'Java', 'Kotlin', 'c', 'C++']
# print(courses[2])


# append
# courses = ['Python', 'Java', 'Kotlin', 'c', 'C++']
# courses_2 = [1, 2, 6, 3, 4]

# # courses.append(courses_2)
# courses.extend(courses_2)

# print(courses)
# insert
# courses = ['Python', 'Java', 'Kotlin', 'c', 'C++']
# courses.insert(3, "JavaScript")
# print(courses)

# extend 
# courses.extend(courses_2)


# remove 
# courses = ['Python', 'Java', 'Kotlin', 'C', 'C++']
# courses.remove("C")
# print(courses)

# courses = ['Python', 'Java', 'Kotlin', 'C', 'C++']

# courses.pop()
# print(courses)


# reverse

# numbers = [1, 3, 6, 7, 9]
# numbers.reverse()
# print(numbers)

# sort (reverse)/sorted()
# numbers = [1, 0, 9, 7, 9]
# numbers.sort()
# print(numbers)

# min() / max() / sum()
numbers = ['python',1, 3, 6, 7, 9]

# list is mutable - change
numbers[0] = 'Java'

print(numbers)
# index()


# typecasting (list to string, tuple, set)
# courses_str = " ".join(courses)
# courses_str

# make a list from strings
# new_str = courses_str.split(' ')
# new_str

['Java', 1, 3, 6, 7, 9]

In [14]:
# run a for loop
# for course in courses:
#     print(course)

In [15]:
# index of what value you loop
# for index, course in enumerate(courses, start=1):
#     print(index, course)

In [16]:
# date = ['12', '6', '21']
# date_str = ' : '.join(date)
# date_str

###### 4.2 Tuple

In [138]:
# tuple
students = ("kaki", "rufus", "njenga", "jane", "kaki")
# students[2] = 'CIT'
print(students)
# type(students)

('kaki', 'rufus', 'njenga', 'jane', 'kaki')

###### 4.2.1 Tuple unpacking

In [141]:
tuple = (1, 5, 6, 8)

a, b, c ,d = tuple

print(a)
print(b)
print(c)
print(d)

1
5
6
8

###### 4.3 Set

In [142]:
# set 
course = {'History', 'geog', 'math', 'eng', 'kis', 'History'}
print(course)
print('geog' in course)

{'geog', 'History', 'math', 'kis', 'eng'}
True

###### 4.3.1 Set manipulation

In [17]:
course1 = {'History', 'geog', 'math', 'eng', 'kis', 'History'}
course2 = {'History', 'geog', 'eng', 'kis', 'german'}

print(course1.intersection(course2))
print(course1.difference(course2))
print(course1.union(course2))

{'geog', 'eng', 'kis', 'History'}
{'math'}
{'german', 'kis', 'History', 'math', 'geog', 'eng'}

###### POINTS TO TAKE

In [21]:
# empty lists
empty_list = []
empty_list = list()

# empty tuple
empty_tuple = ()
empty_tuple = tuple

# empty set
# empty_tuple = {} (this isnt right. Depicts a dictionary)
empty_set = set()

### Dictionary
- key value pair data structure
- key: unique identifier for a value`

In [19]:
student = {
           'name':'John', 
           'age':24, 
           'courses':['Python', 'Java']
          }

# student.update({'name':'Jane', 'age':56, 'phone':'4348374383'})

# delete a key and its value
# del student['name']

# age = student.pop('age')

# len(student)


# print(student.keys())
# print(student.values())
print(student.items())

student = {
           'name':'John', 
           'age':24, 
           'courses':['Python', 'Java']
          }

courses  = student['courses']
print(courses)
# print(student['name'])
# print(student.get('name'))
# print(student.get('lalo', 'Key not in the dictionary'))

dict_items([('name', 'John'), ('age', 24), ('courses', ['Python', 'Java'])])
['Python', 'Java']

In [20]:
# to see key and value pair
print(student.items())

dict_items([('name', 'John'), ('age', 24), ('courses', ['Python', 'Java'])])

In [24]:
# loop through the keys
for key in student:
    print(key)

name
age
courses

In [25]:
# loop through keys and value
for key, value in student.items():
    print(f'{key} : {value}')

name : John
age : 24
courses : ['Python', 'Java']

### Loops and iterations
- Break: will completely break out of a loop
- Continue: will move on to the next iteration of loop, skip

In [157]:
# for loop, while loop


# for x in range(1,9):
#     print(x)

# for x in range(8):
#     if x == 4:
#         continue
#     print(x)

0
1
2
3
5
6
7

In [158]:
# for loop will iterate through a certain number of values
nums = [1, 3, 4, 3, 5]

for num in nums:
    print(num)

1
3
4
3
5

In [28]:
# range

In [160]:
# while loop will keep going until a certain condition is met

x = 0

# check condition
while x<10:
    print(x)
    x = x+2

0
2
4
6
8

### Functions
- args: represent the positional arguments ... receives values as tuple
- kwargs: represent keyword arguments ... receives values as dict...

In [162]:
def cit():
    print('hello')
    
cit()

hello

In [42]:
# simple function
def Hello(name, age):
    print(f'I am {name} aged {age}')
    
Hello('Kaki', 37)

In [21]:
# when you not sure of arguments to pass to the function
def student(*args, **kwargs):
    print(args)
    print(kwargs)

In [22]:
student('Rufus', 20, 'math', coding='Python', cls='BCT', room = 108)

('Rufus', 20, 'math')
{'coding': 'Python', 'cls': 'BCT', 'room': 108}

In [23]:
course = ['Rufus', 20, 'math']
info = {'coding': 'Python', 'cls': 'BCT', 'room': 108}

student(course, info)

(['Rufus', 20, 'math'], {'coding': 'Python', 'cls': 'BCT', 'room': 108})
{}

In [24]:
course = ['Rufus', 20, 'math']
info = {'coding': 'Python', 'cls': 'BCT', 'room': 108}

# unpacking the course and info
student(*course, **info)

('Rufus', 20, 'math')
{'coding': 'Python', 'cls': 'BCT', 'room': 108}

In [30]:
def unpack(x, y):
    print(x)
    print(y)
    
arg = ['kaki', 'rufus']

# unpacking list values
unpack(*arg)

kaki
rufus

In [1]:
def unpack(a, b, c):
    print(a)
    print(b)
    print(c)
    
kwargs = {'a':'kaki', 'b':'rufus', 'c':'cccc'}

# unpack dict.. to seperate key values

unpack(**kwargs)

kaki
rufus
cccc

In [2]:
# persons = {'name':'kaki', 'age':37}

# print(f'My name is {persons.name} of age {persons.age}')

In [38]:
# pi = 3.14159265

# sentence = f'Pi is equal to {pi:.3f}'

# sentence

In [39]:
# from datetime import datetime

# birthday =datetime(2000, 4, 21)

# sentence = f'Jane was born in the year {birthday:%B, %d, %Y}'

# print(sentence)

######  GENERATORS

In [40]:
def square_numbers(nums):
    for i in nums:
        yield (i*i)
        
my_nums = square_numbers([1,2,3,4,5])

list(my_nums)

# for num in my_nums:
#     print(num)

# print(next(my_nums))
# print(next(my_nums))
# print(next(my_nums))
# print(next(my_nums))
# print(next(my_nums))

[1, 4, 9, 16, 25]

In [41]:
# list comprehension to do that
square = [x*x for x in [1, 2, 3, 4, 5]]
square

[1, 4, 9, 16, 25]